




<div class="container">
    <div class="card bg-dark text-white" style="width: 25rem;">
        <img class="card-img-top" src="https://sailsjs.com/images/sails_desktop_2880x1800.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">My Email: <kbd>coderichardson@gmail.com</kbd></h5>
          <p class="card-text">Node Sails Crud App with Mongo Driver</p>
          <a href="/ideas/list" class="btn btn-light">View Ideas</a><br><br>
          <a href="/ideas/add" class="btn btn-info">Add Ideas</a>
        </div>
      </div>
</div>